<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,699;1,699&display=swap" rel="stylesheet">
</head>
<body>
    <div class="card-container">
        <div class="card-first">
            <div class="card-first-text-part">
                <h1>
                    HealthMart Medicines
                </h1>
                <p>Your one pharmacy for proven relief find everything from daily meds to prescriptions treatments in one place.</p>
                <a href="#"><button>Explore Now</button></a>
            </div>
            <div class="card-first-img-part">
                <img src="../images/cards/panadol.PNG" alt="panadol products">
            </div>
        </div>
        <div class="card-second">
            <div class="card-second-card1">
                <img src="../images/cards/good-health.webp" alt="">
                <h2>Good Health</h2>
                <p>Good Health nutrition multivitamins and dietary supplements</p>
                <button><a href="#">View Products</a></button>
            </div>
            <div class="card-second-card2">
                <img src="../images/cards/abbott.webp" alt="">
                <h2>Abbot</h2>
                <p>Fight Chronic diseases with Abbot</p>
                <button><a href="#">View Products</a></button>
            </div>
            <div class="card-second-card3">
                <img src="../images/cards/gsk.webp" alt="">
                <h2>GSK</h2>
                <p>Global Health, Global Security</p>
                <button><a href="#">View Products</a></button>

            </div>
            <div class="card-second-card4">
                <img src="../images/cards/hilton.webp" alt="">
                <h2>Hilton</h2>
                <p>Improve quality of life with best healthcare solutions</p>
                <button><a href="#">View Products</a></button>

            </div>
        </div>
    </div>
</body>
</html>