<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/pharmacy/html/assets/css/index.css">
</head>
<body>
    <footer class="secondfooter">
        <div class="support-footer">
            
            <ul>
                <li>Support</li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Refund Policy</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Account Deletion Policy</a></li>
            </ul>

             
            <div>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            
        </div>
        <div>
            <ul>
                <li>Categories</li>
                <li><a href="#">Medicines</a></li>
                <li><a href="#">Health Supplements</a></li>
                <li><a href="#">Skin Care</a></li>
                <li><a href="#">Herbal Medicines</a></li>
            </ul>
        </div>
        <div>
            <h2>HealthMart</h2>
            <span>Head Office: D. Watson, Din Pavillion, F-7, Blue area, Islamabad</span>
            <span>Email: contactus@dwatson.pk</span>
            <span>Phone: 051-8447077 , 0332-8447777</span>
            <div>
                <img src="" alt="">
            </div>
        </div>
    </footer>
</body>
</html>