<!doctype html>
<html lang="en">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medicines</title>
    <link rel="stylesheet" href="../css/index.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,699;1,699&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- Navbar.html added -->
    <header class="header">
        <div class="header-upper">
            <div class="logo">
                <a href="/index.html">
                <div class="logo-container">
                <img src="/assets/images/pharmacy-img/logo-white.png" width="140" alt="">
                <span>Pharmacy</span>
                </div>
                </a>
            </div>
            <div class="search-bar">
                <div class="search-bar-container">
                <div class="search-place">
                <input placeholder="search entire store here" type="text"><span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                </div>
                </div>
            </div>
            <div class="log-in">
                <div class="log-in-container">
                <div class="log">
                    <p>Sign in</p>
                </div>
                <div class="cart-icon">
                    <i class="fa-solid fa-cart-arrow-down"></i>
                </div>
                </div>
            </div>
     </div>

     <div class="header-lower">
         <ul>
            <li><a href="#">Medicines</a></li>
            <li><a href="#">Health Supplements</a></li>
            <li><a href="#">Skin Care</a></li>
            <li><a href="#">Personal Care</a></li>
            <li><a href="#">Fragrances</a></li>
            <li><a href="#">Sexual Wellness</a></li>
            <li><a href="#">Baby & child</a></li>
            <li><a href="#">Healthcare Devices</a></li>
            <li><a href="#">Surgical & Elderly Care</a></li>
            <li><a href="#">Herbal Medicines</a></li>
            <li><a href="#">Homopathic Medicines</a></li>
            <li><a href="#">Winter Essentials</a></li>
         </ul>
     </div>
   
       
    </header>

    <!-- medicine java part -->
    <section class="medicines">
      <div class="pageinfo">
        <div>
          <span>Home</span>
            >
          <span>Medicines</span>
        </div>
        <div>
          <h1>Medicines</h1>
        </div>
      </div>
      <main class="main-section">
        <div class="filters">
          <h3>Shopping options</h3>
          <div class="filter-group">
            <h3>Category</h3>
          </div>
          <div class="filter-group">
            <h3>Price</h3>
          </div>
          <div class="filter-group">
            <h3>Form</h3>
          </div>
          <div class="filter-group">
            <h3>Ingredients</h3>
          </div>
          <div class="filter-group">
            <h3>Manufacturer</h3>
          </div>
          <div class="filter-group">
            <h3>Top Selling</h3>
          </div>
          <div class="filter-group">
            <h3>Hot Deals</h3>
          </div>
          <div class="filter-group">
            <h3>Sponsored</h3>
          </div>
        </div>
        <div class="products">
          <div class="product-card">
            <img src="../images/medicine-pics/2blink_Eye_Drop_15ml.webp" alt="Sante 2blink Eye Drop" />
             <p>Sante</p>
            <h3>2blink Eye Drop 15ml</h3>
            <p>Pack of 1</p>
            <p class="price">Rs. 526.00</p>
            <div class="cartQuntity">
              <button class="decrement">-</button>
               <span class="totalproduct">1</span>
              <button class="increment">+</button>
            </div>
            <button class="Addtocart">Add to Cart</button>
          </div>
          <div class="product-card">
            <img src="../images/medicine-pics/2blink_hydration_eo_10ml.webp" alt="Sante 2blink hydration" />
             <p>Sante</p>
            <h3>2blink hydration eo 10ml</h3>
            <p>Pack of 1 Eye Drop</p>
            <p class="price">Rs. 950.00</p>
            <div class="cartQuntity">
              <button class="decrement">-</button>
               <span class="totalproduct">1</span>
              <button class="increment">+</button>
            </div>
            <button class="Addtocart">Add to Cart</button>
          </div>
          <div class="product-card">
            <img src="../images/medicine-pics/2sum_1gm_Injection.webp" alt="2sum 1gm Injection" />
             <p>Sami</p>
            <h3>2sum 1gm Injection</h3>
            <p>Pack of 1 Injection</p>
            <p class="price">Rs. 460.00</p>
            <div class="cartQuntity">
              <button class="decrement">-</button>
               <span class="totalproduct">1</span>
              <button class="increment">+</button>
            </div>
            <button class="Addtocart">Add to Cart</button>
          </div>
          <div class="product-card">
            <img src="../images/medicine-pics/2sum_2gm_Injection.webp" alt="2sum 2gm Injection" />
             <p>Sami</p>
            <h3>2sum 2gm Injection</h3>
            <p>Pack of 1 Injection</p>
            <p class="price">Rs. 590.00</p>
            <div class="cartQuntity">
              <button class="decrement">-</button>
               <span class="totalproduct">1</span>
              <button class="increment">+</button>
            </div>
            <button class="Addtocart">Add to Cart</button>
          </div>
        </div>
      </main>
    </section>
     <!-- footerfirst.html added -->
    <section class="firstfooter">
        <div class="footer-list-1 list-item">
            <div class="footer-category">
                <a href="#">Fragrance</a>
            </div>
            <div class="category-list">
                 <ul>
                    <li><a href="#">Men's perfumes</a></li>
                    <li><a href="#">Perfume Gift Sets</a></li>
                    <li><a href="#">Women's perfumes</a></li>
                    <li><a href="#">ittar</a></li>
                 </ul>
            </div>
        </div>
        <div class="footer-list-2  list-item">
            <div class="footer-category">
                <a href="#">Baby & child</a>
            </div>
            <div class="category-list">
                 <ul>
                    <li><a href="#">Baby Care</a></li>
                    <li><a href="#">Baby Diapers & Wipes</a></li>
                    <li><a href="#">Baby Electronics</a></li>
                    <li><a href="#">Baby Foods</a></li>
                    <li><a href="#">Baby Formula Milk</a></li>

                 </ul>
            </div>
        </div>
        <div class="footer-list-3 list-item">
            <div class="footer-category">
                <a href="#">Medicines</a>
            </div>
            <div class="category-list">
                 <ul>
                    <li><a href="#">Skin,Hair & Nails</a></li>
                    <li><a href="#">Chest & Respiratory</a></li>
                    <li><a href="#">Brain & Neurological</a></li>
                    <li><a href="#">Reproductive & Sexual Health</a></li>
                    <li><a href="#">Metabolic & Hormonal Health</a></li>
                 </ul>
            </div>
        </div>
        <div class="footer-list-4 list-item">
            <div class="footer-category">
                <a href="#">Health Supplements</a>
            </div>
            <div class="category-list">
                 <ul>
                    <li><a href="#">Child & Baby Supplements</a></li>       
                    <li><a href="#">Health Concerns</a></li>
                    <li><a href="#">Vitamins A-Z</a></li>
                    <li><a href="#">Women's Health</a></li>
                    <li><a href="#">By Ingredients</a></li>
                 </ul>
            </div>
        </div>

    </section>

    <!-- footersecond.html added -->
    <footer class="secondfooter">
        <div class="support-footer">
            
            <ul>
                <li>Support</li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Refund Policy</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Account Deletion Policy</a></li>
            </ul>

             
            <div class="social-medialinks">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            
        </div>
        <div class="Categories-footer">
            <ul>
                <li>Categories</li>
                <li><a href="#">Medicines</a></li>
                <li><a href="#">Health Supplements</a></li>
                <li><a href="#">Skin Care</a></li>
                <li><a href="#">Herbal Medicines</a></li>
            </ul>
        </div>
        <div class="address-footer">
            <h2>HealthMart</h2>
            <p>Head Office: D. Watson, Din Pavillion, F-7, Blue area, Islamabad</p>
            <p>Email: contactus@dwatson.pk</p>
            <p>Phone: 051-8447077 , 0332-8447777</p>
            <div class="payment-gatways">
                <span><img src="/assets/images/cards/cod_1.webp" alt="card-image"></span>
                <span><img src="/assets/images/cards/hblpay.webp" alt="card-image"></span>
                <span><img src="/assets/images/cards/jazzcash_1.webp"alt="card-image"></span> 
                <span><img src="/assets/images/cards/mastercard_1.webp" alt="card-image"></span>
                <span><img src="/assets/images/cards/unionpay_1.webp" alt="card-image"></span>
                <span><img src="/assets/images/cards/visa_1.webp" alt="card-image"></span>                     
            </div>
        </div>
    </footer>
  </body>
</html>
