<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medicines</title>
    <link rel="stylesheet" href="../css/index.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section class="medicines">
      <div class="pageinfo">
        <div>
          <span>Home</span>
            >
          <span>Medicines</span>
        </div>
        <div>
          <h1>Medicines</h1>
        </div>
      </div>
      <main class="main-section">
        <div class="filters">
          <h3>Shopping options</h3>
          <div class="filter-group">
            <h3>Category</h3>
          </div>
          <div class="filter-group">
            <h3>Price</h3>
          </div>
          <div class="filter-group">
            <h3>Form</h3>
          </div>
          <div class="filter-group">
            <h3>Ingredients</h3>
          </div>
          <div class="filter-group">
            <h3>Manufacturer</h3>
          </div>
          <div class="filter-group">
            <h3>Top Selling</h3>
          </div>
          <div class="filter-group">
            <h3>Hot Deals</h3>
          </div>
          <div class="filter-group">
            <h3>Sponsored</h3>
          </div>
        </div>
        <div class="products">
          <div class="product-card">
            <img src="../images/medicine-pics/2blink_Eye_Drop_15ml.webp" alt="Sante 2blink Eye Drop" />
             <p>Sante</p>
            <h3>2blink Eye Drop 15ml</h3>
            <p>Pack of 1</p>
            <p class="price">Rs. 526.00</p>
            <div class="cartQuntity">
              <button class="decrement">-</button>
               <span class="totalproduct">1</span>
              <button class="increment">+</button>
            </div>
            <button class="Addtocart">Add to Cart</button>
          </div>
          <div class="product-card">
            <img src="../images/medicine-pics/2blink_hydration_eo_10ml.webp" alt="Sante 2blink hydration" />
             <p>Sante</p>
            <h3>2blink hydration eo 10ml</h3>
            <p>Pack of 1 Eye Drop</p>
            <p class="price">Rs. 950.00</p>
            <div class="cartQuntity">
              <button class="decrement">-</button>
               <span class="totalproduct">1</span>
              <button class="increment">+</button>
            </div>
            <button class="Addtocart">Add to Cart</button>
          </div>
          <div class="product-card">
            <img src="../images/medicine-pics/2sum_1gm_Injection.webp" alt="2sum 1gm Injection" />
             <p>Sami</p>
            <h3>2sum 1gm Injection</h3>
            <p>Pack of 1 Injection</p>
            <p class="price">Rs. 460.00</p>
            <div class="cartQuntity">
              <button class="decrement">-</button>
               <span class="totalproduct">1</span>
              <button class="increment">+</button>
            </div>
            <button class="Addtocart">Add to Cart</button>
          </div>
          <div class="product-card">
            <img src="../images/medicine-pics/2sum_2gm_Injection.webp" alt="2sum 2gm Injection" />
             <p>Sami</p>
            <h3>2sum 2gm Injection</h3>
            <p>Pack of 1 Injection</p>
            <p class="price">Rs. 590.00</p>
            <div class="cartQuntity">
              <button class="decrement">-</button>
               <span class="totalproduct">1</span>
              <button class="increment">+</button>
            </div>
            <button class="Addtocart">Add to Cart</button>
          </div>
        </div>
      </main>
    </section>
  </body>
</html>
