<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/index.css">
   
</head>
<body>
    <header class="header">

        <div class="header-upper">
         <div class="searchbox">
         <div class="nav-second">
                <h1><span class="health">Health</span><span class="mart">Mart</span></h1>  
         </div>
          <div class="search">
            <div class="searchbar">
                <input placeholder="search entire store here" type="text">
            </div>
            <div class="searchicon">
            <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
       </div>

       <div class="signin">
           <span>Sign In</span>
           <i class="fa-solid fa-cart-arrow-down"></i>
       </div>
     </div>

     <div class="header-lower">
         <ul>
            <li><a href="#">Medicines</a></li>
            <li><a href="#">Health Supplements</a></li>
            <li><a href="#">Skin Care</a></li>
            <li><a href="#">Personal Care</a></li>
            <li><a href="#">Fragrances</a></li>
            <li><a href="#">Sexual Wellness</a></li>
            <li><a href="#">Baby & child</a></li>
            <li><a href="#">Healthcare Devices</a></li>
            <li><a href="#">Surgical & Elderly Care</a></li>
            <li><a href="#">Herbal Medicines</a></li>
            <li><a href="#">Homopathic Medicines</a></li>
            <li><a href="#">Winter Essentials</a></li>
         </ul>
     </div>
   
       
    </header>
</body>
</html>