<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categories</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,699;1,699&display=swap" rel="stylesheet">
</head>
<body>
    <div class="popular-categories">
        <h1>Popular Categories</h1>
        <div class="popular-cards">
            <a href="#">
            <div class="card card1">
                <div class="img">
                </div>
                <h2>Medicines</h2>
                </a>
            </div>
            <div class="card card2">
                <a href="#">
                <div class="img">
                </div>
                <h2>Health Supplements</h2>
                </a>
            </div>
            <div class="card card3">
                <a href="#">
                <div class="img">
                </div>
                <h2>Baby & Child</h2>
                </a>
            </div>
            <div class="card card4">
                <a href="#">
                <div class="img">
                </div>
                <h2>Personal Care</h2>\
                </a>
            </div>
            <div class="card card5">
                <a href="#">
                <div class="img">
                </div>
                <h2>Skin Care</h2>
                </a>
            </div>
            <div class="card card6">
                <a href="#">
                <div class="img">
                </div>
                <h2>Healthcare Devices</h2>
                </a>
            </div>
            <div class="card card7">
                <a href="#">
                <div class="img">
                </div>
                <h2>Homeopathic Medicines</h2>
                </a>
            </div>
            <div class="card card8">
                <a href="#">
                <div class="img">
                </div>
                <h2>Sexual Wellness</h2>
                </a>
            </div>
        </div>
    </div>
</body>
</html>