<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,699;1,699&display=swap" rel="stylesheet">
</head>
<body>
    <div class="slider-wrapper">
        <div class="slider">
            <img id="slide-1" src="../images/pharmacy-img/healthmart.jpg" alt="">
            <img id="slide-2" src="../images/pharmacy-img/2.png" alt="">
            <img id="slide-3" src="../images/pharmacy-img/3.png" alt="">
            <img id="slide-4" src="../images/pharmacy-img/4.png" alt="">
            <img id="slide-5" src="../images/pharmacy-img/5.png" alt="">
        </div>
        <div class="slider-nav">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
            <a href="#slide-4"></a>
            <a href="#slide-5"></a>
        </div>
    </div>
    <script src="../javascript/script.js"></script>
</body>
</html>